{#  Copyright 2016 Arnaud Bienvenu

    This file is part of Kyjoukan.

    Kyjoukan is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Kyela is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License for more details.

    You should have received a copy of the GNU Affero General Public License
    along with Kyela.  If not, see <http://www.gnu.org/licenses/>.

#}<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		{% block title %}
			<title>Kyjoukan</title>
		{% endblock %}
		<meta name="application-name" content="Kyjoukan">
		{% block robots %}
			<meta name="robots" content="noindex, nofollow">
		{% endblock %}

		<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
		{# CDN Bootstrap #}
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

		<!-- Preselect navigation tabs according to # anchor -->
		<script type="text/javascript">
			$( document ).ready(function() {
				var url = document.location.toString();
				if (url.match('#')) {
					$('.nav-tabs a[href="#' + url.split('#')[1] + '"]').tab('show');
				}

				// Change hash for page-reload
				$('.nav-tabs a').on('shown.bs.tab', function (e) {
					window.location.hash = e.target.hash;
				})
			});
		</script>
	</head>
	<body>
		<div class="container">
			{% for flash_message in app.session.flashBag.get('success') %}
				<div class="alert alert-success" role="alert">
					{{ flash_message }}
				</div>
			{% endfor %}
			{% for flash_message in app.session.flashBag.get('info') %}
				<div class="alert alert-info" role="alert">
					{{ flash_message }}
				</div>
			{% endfor %}

			{% block body %}{% endblock %}
		</div>
	</body>
</html>
