<html>
	<head>
		<style>
			@media print {
				@page {
					margin: 0px;
				}
			}

			html,body { height: 100%; margin: 0; padding: 0; }

			section.table {
				display: table;
				border-spacing: 10px;
				width: 100%;
				height: 100%;
			}
			section.table > div.row {
				display: table-row;
				width: 100%;
				height: 25%;
			}
			section.table > div.row > div {
				display: table-cell;
				border: solid 1px #ccc;
			}

			section.main > div.row > div
			{
				width: 33%;
			}

			section.match, section.submatch {
				display: table;
				border-spacing: 0;
				width: 100%;
				height: 100%;
			}

			section.match > div.row
			{
				display: table-row;
			}
			section.match > div.row > div
			{
				display: table-cell;
				text-align: center;
				padding: 10px;
			}

			section.submatch > div.row
			{
				display: table-row;
			}
			section.submatch > div.row > div
			{
				display: table-cell;
				text-align: center;
				width: 50%;
				padding-left: 10px;
				padding-right: 10px;

			}

			div.terrain {
				float: left;
			}
			div.numero {
				float: right;
			}
			div.arbitre, div.score {
				text-align: center;
			}

			span.equipe {
				border: 2px solid black;
				padding: 6px;
				font-size: 16px;
			}
			span.score {
				border: 2px solid black;
				padding-right: 40px;
				padding-bottom: 10px;
				padding-top: 10px;
			}

			section.checkboxes {
				display: table;
				width: 100%;
				border-spacing: 0;
			}
			section.checkboxes > div.row {
				display: table-row;
			}
			section.checkboxes > div.row > div {
				display: table-cell;
				border: solid 1px black;
				font-size: 12px;
				padding: 1px;
				width: 10%;
			}

		</style>
	</head>
<body>
	<section class="main table">
		{% for i in range(1, 4) %}
		<div class="row">
			{% for i in range(1, 3) %}
			<div>
				<section class="match">
					<div class="row" style="height: 20%;">
						<div>
							<div class="terrain">Terrain: A</div>
							<div class="numero">Match N°1/4</div>
							<div class="arbitre">Arbitre: Iguane</div>
						</div>
					</div>
					<div class="row" style="height: 60%;">
						<div>
							<section class="submatch" style="height: 20%; margin-bottom: 10px;">
								<div class="row">
									<div><span class="equipe">A: C'est sur la ligne</span></div>
									<div><span class="equipe">B: Kikonfélà</span></div>
								</div>
							</section>
							<section class="submatch" style="height: 80%;">
								<div class="row">
									<div>
										<section class="checkboxes">
											<div class="row">
												<div>1</div><div>2</div><div>3</div><div>4</div><div>5</div><div>6</div><div>7</div><div>8</div><div>9</div><div>10</div>
											</div>
											<div class="row">
												<div>11</div><div>12</div><div>13</div><div>14</div><div>15</div><div>16</div><div>17</div><div>18</div><div>19</div><div>20</div>
											</div>
											<div class="row">
												<div>11</div><div>12</div><div>13</div><div>14</div><div>15</div><div>16</div><div>17</div><div>18</div><div>19</div><div>20</div>
											</div>
											<div class="row">
												<div>11</div><div>12</div><div>13</div><div>14</div><div>15</div><div>16</div><div>17</div><div>18</div><div>19</div><div>20</div>
											</div>
										</section>
									</div>
									<div>
										<section class="checkboxes">
											<div class="row">
												<div>1</div><div>2</div><div>3</div><div>4</div><div>5</div><div>6</div><div>7</div><div>8</div><div>9</div><div>10</div>
											</div>
											<div class="row">
												<div>11</div><div>12</div><div>13</div><div>14</div><div>15</div><div>16</div><div>17</div><div>18</div><div>19</div><div>20</div>
											</div>
											<div class="row">
												<div>11</div><div>12</div><div>13</div><div>14</div><div>15</div><div>16</div><div>17</div><div>18</div><div>19</div><div>20</div>
											</div>
											<div class="row">
												<div>11</div><div>12</div><div>13</div><div>14</div><div>15</div><div>16</div><div>17</div><div>18</div><div>19</div><div>20</div>
											</div>
										</section>
									</div>
								</div>
							</section>
						</div>
					</div>
					<div class="row" style="height: 20%;">
						<div>
							Score: <span class="score">&nbsp;</span> à <span class="score">&nbsp;</span>
						</div>
					</div>
				</section>
			</div>
			{% endfor %}
		</div>
		{% endfor %}
	</section>
</body>
